* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

.container{
  width: 78%;
  margin: auto;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 55px;
}

.scroll-x {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.selectMovieDate {
  display: flex;
  border: 1px solid black;
  width: 180px;
  border-radius: 15px;
  justify-content: space-between
}
.selectMovieDate button {
  border: 0px;
  background: transparent;
  text-align: center;
  padding: 4px;
  border-radius: 15px;
}